.MuiModal-root,
.MuiPaper-root {
  * {
    font-family: inherit !important;
  }
}

.MuiPickersLayout-actionBar {
  display: none !important;
}

.MuiDateTimePickerToolbar-timeDigitsContainer {
  direction: ltr
}

ul.MuiList-root {
  @apply bg-[#1976d2];

  li {
    @apply text-white transition;

    &:hover {
      @apply text-[#114a86]
    }
  }
}


.centered-header .MuiDataGrid-columnHeaderTitleContainer {
  display: flex !important;
  justify-content: center !important;
  text-align: center !important;
}

.MuiTablePagination-toolbar {
  background-color: white;
}

.MuiTablePagination-actions {
  transform: rotate(180deg);
  display: flex;
  flex-direction: row-reverse;
}

.MuiDataGrid-cell[data-field="profile_picture"] {
  align-items: center;
  display: flex;
}
